*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

#app{
    height: 100vh;
    width: 100%;
    background-color: green;
}

#btn-play{
    color: black;
    padding: .5rem;
    margin: .5rem;
    border-radius: 2rem;
}

#btn-hit{
    color: black;
    padding: .5rem;
    margin: .5rem;
    border-radius: 2rem;
}

#btn-stand{
    color: black;
    padding: .5rem;
    margin: .5rem;
    border-radius: 2rem;
}

#btn-double{
    color: black;
    padding: .5rem;
    margin: .5rem;
    border-radius: 2rem;
}

#btn-reset{
    color: black;
    padding: .5rem;
    margin: .5rem;
    border-radius: 2rem;
}

#wrapper{
    text-align: center;
}

#wrap{
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 10%;
}

#console{
    min-height: 13rem;
    min-width: 13rem;
    max-width: 50rem;
    background-color: white;
}

#buttons{
    display: block;
    text-align: center;
}

#header{
    font-size: 4rem;
    text-align: center;
}

#name, #history, #gameHistory{
    font-size: 2rem;
    text-align: center;
}